/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }  */

header {
  background: rgb(247, 90, 86);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Open Sans";
}

header .left-nav {
  padding-left: 3%;
}

header .left-nav ul {
  width: 25%;
  display: flex;
}

header .left-nav ul a.active {
  font-weight: bold;
}

header .left-nav ul a {
  transition: 0.2s;
  font-size: 20px;
  font-weight: 400px;
  padding-right: 20px;
}

header .left-nav ul a:hover {
  font-weight: bold;
}

header .middle-nav a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
}

header .right-nav {
  padding-right: 3%;
}

header .right-nav ul a {
  font-size: 20px;
  padding-right: 20px;
}

header ul {
  list-style: none;
  display: flex;
  padding: 0;
}

header a {
  color: white;
  text-decoration: none;
}

header ul.desktop-nav,
header ul.desktop-social-nav {
  display: none;
}

header .mobile-nav {
  cursor: pointer;
  padding: 20px;
}

header .mobile-nav svg {
  height: 1.5em;
  width: 1.5em;
  position: absolute;
  right: 15px;
  top: 22.5px;
}

@media (min-width: 992px) {
  header ul.desktop-nav,
  header ul.desktop-social-nav {
    display: flex;
  }

  header .mobile-nav {
    display: none;
  }
}
