.main-work {
    padding-top: 70px;
}

.main-work ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.work-item {
    width: 350px;
    height: 350px;
}

.work-item img {
    border-radius: 5px;
}

@media (min-width: 1440px) {
    .main-work ul {
        flex-direction: row;
    }
}